extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Bankid = toShow._id 
    - let Bank_Name = toShow.Bank_Name
    - let Account_Type = toShow.Account_Type
    - let Balance = toShow.Balance
    - let actionid = "/resource/Bank/" + Bankid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='BankAttr mr-3') Bank ID is: 
        div #{Bankid}
      div.row 
        div(class='BankAttr mr-3') Bank Bank_Name is: 
        div #{Bank_Name}  
      div.row 
        div(class='BankAttr mr-3') Bank Account_Type is: 
        div #{Account_Type}  
      div.row 
        div(class='BankAttr mr-3') Bank Balance is: 
        div #{Balance} 
      
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Bank collection 
      window.location.href='/Bank' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'  
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Bank' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }